.anaxi-card-content {

}

.anaxi-card-content-user {
    height: 60px;
    @include flexbox();
    @include align-items(center);
    .user-avatar{
        width: 40px;
        height: 40px;
        border-radius: 50px;
        background-color: $orange;
        margin-right: 7px;
        cursor: pointer;
    }
    .user-name{
        color: $dark-red;
        font-weight: bold;
        font-size: 16px;
    }

    .user-name:hover{
        text-decoration: underline;
        cursor: pointer;
    }
}

.anaxi-card-content-recommendations {

    height: 90px;
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(space-around);

    .recommendations-answer {
        font-size: 23px;
    }

    #true {
        color: $green;
    }
    #false {
        color: $red;
    }

    .recommendations-place {
        font-size: 32px;
        color: #000000;
    }
}

.anaxi-card-content-extra {
    margin-top: 20px;

    .extra-text {
        height: 70px;
        padding: 5px;
        color: #454545;
        font-size: 14px;
        background-color: #f5f5f5;
        border-left: solid 2px $pink;
    }

    .extra-image {
        height: 200px;
        border: solid 1px $card-line-color;
    }

}

.anaxi-card-content-destination {

    height: 80px;
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);

    p:nth-of-type(1) {
        font-size: 20px;
    }

    .destination-place {
        font-size: 32px;
        color: $red;
    }
}

.anaxi-card-content-experiences {
    margin-top: 15px;
}

.accordion-experience-btn {
    @include flexbox();
    @include align-items(center);
    cursor: pointer;
}

.accordion-btn-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $pink;
    margin-right: 5px;
}

.accordion-btn-title {
    color: $red;
}

.accordion-experience-content {
    border-left: solid 2px $orange;
    min-height: 20px;
    margin-left: 7.5px;
}

.accordion-last-experience {
    min-height: 0px;
}

.experience-container {
    padding: 10px;
}

.experience-container-content {
    border: solid $card-line-color 1px;
    padding: 10px;
    border-radius: 4px;
}

.trip-map {
    width: 100%;
    height: 200px;
}
