.anaxi-create-top {
    width: 100%;
    height: 100px;
    padding: 10px 20px 15px 20px;
    @include flexbox();
    @include justify-content(space-between);



    .top-progress {
        font-size: 20px;
    }
}

.top-close {
    font-size: 25px;
    cursor: pointer;
}

.anaxi-create-trip-top {
    @include justify-content(flex-end);
}
