
//Colors
$orange: #F49575;
$pink: #F28481;
$dark-red: #A63347;
$light-orange: #F3BB9F;
$red: #DA5D5D;
$blue: #5B7C8D;
$green: #5C9A8D;
$white: #ffffff;
$body-background-color: #f6f4ef;
$shadow-color: #d2cfc8;

//Fonts
$body-font: 'Didact Gothic', sans-serif;
$header-font: 'Montserrat', sans-serif;
$logo-font: 'Lobster', cursive;
