.anaxi-primary-btn {
    @include top-right-gradient($orange, $pink);
    border-radius: 15px;
    // text-align: center;
    color: $white;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    cursor: pointer;
}

#postBtn {
    width: 90px;
    height: 30px;
}

.profile-btn-content {
    width: 80px;
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    color: $pink;

    .profile-avatar {
        width: 25px;
        height: 25px;
        background-color: $orange;
        border-radius: 50%;
    }
}
