.anaxi-primary-btn {
    @include top-right-gradient($orange, $pink);
    border-radius: 15px;
    // text-align: center;
    color: $white;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    cursor: pointer;
}

#postBtn {
    width: 90px;
    height: 30px;
}

#profileBtn {
    width: 100px;
    height: 30px;
    margin-top: 26px;

    @include mobile {
        margin-top: 0px;
        @include align-self(center);
    };
}

.profile-btn-content {
    width: 90px;
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    color: $pink;

    .profile-avatar {
        width: 25px;
        height: 25px;
        background-color: $orange;
        border-radius: 50%;
    }

    .profile-arrow {
        // width: 10px;
        border: solid $pink;
        border-width: 0px 1px 1px 0px;
        display: inline-block;
        padding: 2px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);

    }
}

.next-back-btns {
    font-size: 20px;
    cursor: pointer;
}

.answer-btn {
    font-size: 40px;
    cursor: pointer;

    @include mobile {
        font-size: 35px;
    };
}

#recommendYes {
    color: $green;
}

#recommendNo {
    color: $red;
}
