.anaxi-primary-btn {
    @include top-right-gradient($orange, $pink);
    border-radius: 15px;
    // text-align: center;
    color: $white;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    cursor: pointer;
}

#postBtn {
    width: 90px;
    height: 30px;
}

#profileBtn {
    width: 100px;
    height: 30px;
    margin-top: 26px;

    @include mobile {
        margin-top: 0px;
        @include align-self(center);
    };
}

#createPostBtn {
    width: 85px;
    height: 25px;
}

#tripDoneBtn, #experienceDoneBtn {
    width: 100px;
    height: 35px;
    border-radius: 18px;
}

.profile-btn-content {
    width: 80px;
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    color: $pink;

    .profile-avatar {
        width: 25px;
        height: 25px;
        background-color: $orange;
        border-radius: 50%;
    }
}

.next-back-btns {
    font-size: 20px;
    cursor: pointer;
}

.answer-btn {
    font-size: 40px;
    cursor: pointer;

    @include mobile {
        font-size: 35px;
    };
}

#recommendYes {
    color: $green;
}

#recommendNo {
    color: $red;
}

.extra-back-btn {
    color: $orange;
}
