.circle {
    border-radius: 50%;
    border: solid 1px #FED4C0;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
}

#circle {
    width: 25px;
    height: 25px;
}

@for $i from 1 through 15 {

    $plus: 50 * $i;

    .circle-#{$i} {
        width: 25px + $plus;
        height: 25px + $plus;
    }

}

.location-circle {
    border-radius: 50%;
    @include radial-circle-gradient($orange, $pink);
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
}

.location-circle-1 {
    width: 800px;
    height: 800px;
}

.location-circle-2 {
    width: 600px;
    height: 600px;
}

.location-circle-3 {
    width: 400px;
    height: 400px;
}

.location-circle-4 {
    width: 200px;
    height: 200px;
}
